@media screen and (max-width: 900px){

.wrapper{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 3fr;
  width: 100%;
}

#input{
  grid-column: 1/2;
}

#enter{
  grid-column: 2/3;
}
#hintButton {
  grid-column: 3/4;
}

#picture{
  grid-column: 1/2;
  width: 50%;
  margin: auto auto;
  height: 30vh;
}

#guessWord{
  grid-column: 1/3;
  width: 85%;
  margin-left: 10px;
}
#wrongLetters{
  font-size: 1.5vh;
  grid-column: 2/4;
  grid-row: 2/3;
  margin: auto auto;
}













}
